/* ANIMACION CONTENIDO
.social-media ul{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 380px;
}

.social-media ul li{
    list-style-type: none;
    margin: 0 15px;
}

.social-media ul li .fab{
    font-size: 30px;
    line-height: 60px;
    transition: 0.6s;
    color: #fff;
}

.social-media ul li a{
    display: block;
    border-radius: 5px;
    width: 150px;
    height: 60px;
    position: relative;
    background-color: #000;
    text-align: center;
    box-shadow: 0 05px 4px rgba(153, 181, 145, 0.3);
}

.social-media ul li .fab:hover{
    color: #fff;
}
.social-media ul li a:hover{
    transform: translate(0, -15%);
    transition: 0.5s;
}

.social-media ul li:nth-child(1) a:hover{
    background-color: yellow;
}
.social-media ul li:nth-child(2) a:hover{
    background-color: yellow;
}
.social-media ul li:nth-child(3) a:hover{
    background-color: yellow;
}
.social-media ul li:nth-child(4) a:hover{
    background-color: yellow;
}

 ANIMACION CONTENIDO */

.ayuda1{
    background-color: map-get($estilos, color);
    text-align: map-get($estilos, centro);
    color: map-get($estilos, cFuente);
    padding: map-get($estilos, 1rem);
    font-size: map-get($estilos, tFuente);
}

.ayuda2{
    background-color: map-get($estilos2, color);
    text-align: map-get($estilos, centro);
    color: map-get($estilos2, cFuente);
    padding: map-get($estilos, 1rem);
    font-size: map-get($estilos, tFuente);    
}

.masInfo {
    border: 1px black solid;
    background-color: yellowgreen;
}

.masInfo--nueva{
    @extend.masInfo;
    font-size: 30px;
    width: 500px;
    text-align: map-get($estilos, centro);
    padding: map-get($estilos, 1rem);
    margin-top: 20px;
}

.red {
    border: 1px black solid;
    background-color: red;
    font-size: 30px;
    text-align: map-get($estilos, centro);
    display: flex;
    justify-content: center;
}

.red--fb{
    @extend.red;
    background-color: blue;
}

.red--tw{
    @extend.red;
    background-color: violet;
    margin-bottom: 20px;
}

@mixin sizes($width, $height){
    height: $height;
    width: $width;
}

.formulario{
    @include sizes(500px, 200px);
    margin-bottom: 40px;
}