.seccionSucursales{
    display: grid;
    grid-template-columns: repeat(1fr 2fr);
    grid-template-rows: repeat(3, 4fr);
    grid-template-areas:
    "palermo mapapalermo"
    "ramos maparamos"
    "necochea mapanecochea";
    grid-column-gap: 10px;
    grid-row-gap: 60px;
    justify-items: center;
    align-items: center;
    padding-bottom: 20px;
    mapaPalermo{
        grid-area: mapapalermo;
        height: 400px;
        width: 400px;
    }
    palermo{
        grid-area: palermo;
    }
    
    mapaRamos{
        grid-area: maparamos;
        height: 400px;
        width: 400px;
    }
    ramos{
        grid-area: ramos;
    }
    
    mapaNecochea{
        grid-area: mapanecochea;
        height: 400px;
        width: 400px;
    }
    necochea{
        grid-area: necochea;
    }
}