$color-titulos: violet;

$estilos: (
    color: blue,
    centro: center,
    cFuente: white,
    tFuente: 35px,
    1rem : 1rem,
);

$estilos2: (
    color: red,
    centro: center,
    cFuente: black,
    tFuente: 20px,
    1rem : 1rem,    
)