@import "variables";
@import "fuentes";
@import "generales";
@import "index";
@import "sucursales";
@import "about";
@import "ayuda";


/* TITULOS (terminar de arreglar y ubicar)*/
h1{
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 20px;
    font-style: oblique;
}

h2{
    text-align: center;
    font-size: 20px;
    padding: 20px;
    font-style: italic;
    background-color: violet;
    width: 200px;
    margin: 10px;
}

h3{
    color: $color-titulos;
    text-align: center;
    padding: 20px;
    font-size: 35px;
}

h4{
    font-size: 22px;
    padding-bottom: 5px;
}

/* TITULOS */


  /* MEDIA QUARIES */
@media only screen and (max-width: 480px) {
    .menuNavegador{
        background-color: yellow;
    }
    
    a{
        color: black;
    }

    .menuFooter{
        background-color: yellow;
    }

    h1{
        background-color: yellow;
        color: black;
    }

    .seccionImg{
        display: grid;
        grid-template-columns: repeat(2fr);
        grid-template-rows: repeat(6, 4fr);
        grid-template-areas:
        "foto1"
        "foto2"
        "foto3"
        "foto4"
        "foto5"
        "foto6";
        grid-row-gap: 60px;
        justify-items: center;
        align-items: center;
        padding: 10px 0px 10px 0px;
    }

    .seccionImg2{
        display: grid;
        grid-template-columns: repeat(2fr);
        grid-template-rows: repeat(6, 4fr);
        grid-template-areas:
        "foto7"
        "foto8"
        "foto9"
        "foto10"
        "foto11"
        "foto12";
        grid-row-gap: 60px;
        justify-items: center;
        align-items: center;
    }

    h2{
        background-color: blanchedalmond;
    }

    .seccionSucursales{
        display: grid;
        grid-template-columns: repeat(1fr);
        grid-template-rows: repeat(6, 2fr);
        grid-template-areas:
        "palermo"
        "mapapalermo"
        "ramos"
        "maparamos"
        "necochea"
        "mapanecochea";
        grid-column-gap: 10px;
        grid-row-gap: 60px;
        justify-items: center;
        align-items: center;
    }

    .seccionNosotros{
        display: grid;
        grid-template-columns: repeat(1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
        "thomas"
        "texto1"
        "alejandro"
        "texto2"
        "lucia"
        "texto3";
        grid-row-gap: 10px;
        justify-items: center;
        align-items: center;
    }

}

/* MEDIA QUARIES */
  