@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
}

body {
  background-color: white;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

h1 {
  color: #198754;
  padding-top: 30px;
  text-align: center;
  font-style: italic;
}

.texto {
  color: green;
}

.shadowNav {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.22);
}

.textShadow {
  text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.23);
}

.shadowBanner {
  box-shadow: 1px -1px 18px 11px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 1px -1px 18px 11px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 1px -1px 18px 11px rgba(0, 0, 0, 0.18);
}

.separacion {
  margin-top: 100px;
}

.marginMapa {
  margin-top: 60px;
}

:root {
  --color-esqueleto:#EFF3F5;
}

header {
  width: 100%;
  height: 60px;
  background: var(--color-esqueleto);
}

.cover {
  width: 100%;
  height: 500px;
  background: var(--color-esqueleto);
  margin-top: 20px;
}

.container__article {
  max-width: 1000px;
  padding: 0px 20px;
  margin: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__article .box__article {
  width: 200px;
  height: 250px;
  background: var(--color-esqueleto);
  margin: 20px;
}

/*FOOTER*/
footer {
  width: 100%;
  padding: 50px 0px;
}

.container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
}

.box__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.box__footer .logo img {
  width: 180px;
}

.box__footer .terms {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 18px;
}

.box__footer h2 {
  margin-bottom: 30px;
  color: #343434;
  font-weight: 700;
}

.box__footer a {
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
}

.box__footer a:hover {
  opacity: 0.8;
}

.box__footer a .fab {
  font-size: 20px;
}

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.box__copyright p {
  margin-top: 20px;
  color: #7a7a7a;
}

.box__copyright hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}

.main_div {
  width: 700px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.main_div .title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.main_div .social_icons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social_icons a {
  display: block;
  height: 45px;
  width: 100%;
  line-height: 45px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.social_icons a span {
  margin-left: 5px;
  font-size: 18px;
}

.social_icons a:first-child {
  margin-right: 5px;
  background: #4267B2;
}

.social_icons a:first-child:hover {
  background: #375695;
}

.social_icons a:last-child {
  margin-left: 5px;
  background: #f21d1d;
}

.social_icons a:last-child:hover {
  background: #d11f1f;
}

form {
  margin-top: 25px;
}

form .input_box {
  height: 50px;
  width: 100%;
  position: relative;
  margin-top: 15px;
}

.input_box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 45px;
  font-size: 17px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input_box input:focus {
  border-color: #198754;
}

.input_box .icon {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: grey;
}

form .option_div {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.option_div .check_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.option_div span {
  margin-left: 5px;
  font-size: 16px;
  color: #333;
}

.option_div .forget_div a {
  font-size: 16px;
  color: #198754;
}

.button input {
  padding-left: 0;
  background: #198754;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.button input:hover {
  background: #16b96d;
}

form .sign_up {
  text-align: center;
  margin-top: 25px;
}

.sign_up a {
  color: #198754;
  font-size: 16px !important;
}

form a {
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}

.cuerpoRegister {
  display: -ms-grid;
  display: grid;
  height: 1400px;
  place-items: center;
  background: #198754;
}

/* DISEÑO CARDS */
.containerCard {
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}

.containerCard .box {
  width: calc(33% - 10px);
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px;
  border-radius: 5px;
}

.box .quote i {
  margin-top: 10px;
  font-size: 45px;
  color: #17c0eb;
}

.containerCard .box .image {
  margin: 10px 0;
  height: 150px;
  width: 150px;
  background: #198754;
  padding: 3px;
  border-radius: 50%;
}

.box .image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #fff;
}

.box p {
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}

.box .name_job {
  margin: 10px 0 3px 0;
  color: #198754;
  font-size: 22px;
  font-weight: 600;
  text-decoration: underline;
}

.shadowBox {
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.51);
}

/* RESPONSIVE */
@media (max-width: 700px) {
  .main_div {
    width: 365px;
  }
  .cuerpoRegister {
    padding-top: 10px;
    height: 2200px;
  }
  .titleResponsive {
    padding-top: 20px;
    text-align: center;
  }
}

@media (max-width: 1045px) {
  .containerCard .box {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}

@media (max-width: 710px) {
  .containerCard .box {
    width: 100%;
  }
}

.cuerpoLogin {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  place-items: center;
  background: #198754;
}

.main_div {
  width: 700px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.main_div .title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.main_div .social_icons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social_icons a {
  display: block;
  height: 45px;
  width: 100%;
  line-height: 45px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.social_icons a span {
  margin-left: 5px;
  font-size: 18px;
}

.social_icons a:first-child {
  margin-right: 5px;
  background: #4267B2;
}

.social_icons a:first-child:hover {
  background: #375695;
}

.social_icons a:last-child {
  margin-left: 5px;
  background: #f21d1d;
}

.social_icons a:last-child:hover {
  background: #d11f1f;
}

form {
  margin-top: 25px;
}

form .input_box {
  height: 50px;
  width: 100%;
  position: relative;
  margin-top: 15px;
}

.input_box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 45px;
  font-size: 17px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input_box input:focus {
  border-color: #198754;
}

.input_box .icon {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: grey;
}

form .option_div {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.option_div .check_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.option_div span {
  margin-left: 5px;
  font-size: 16px;
  color: #333;
}

.option_div .forget_div a {
  font-size: 16px;
  color: #198754;
}

.button input {
  padding-left: 0;
  background: #198754;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.button input:hover {
  background: #16b96d;
}

form .sign_up {
  text-align: center;
  margin-top: 25px;
}

.sign_up a {
  color: #198754;
  font-size: 16px !important;
}

form a {
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 700px) {
  .cuerpoLogin {
    height: 500px;
  }
  .main_div {
    width: 365px;
  }
}

.localesBody {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background: #198754;
}

.content {
  max-width: 1090px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .card {
  background: #fff;
  width: calc(33% - 20px);
  text-align: center;
  padding: 15px 30px  30px 30px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.content .card .top {
  height: 130px;
  color: #fff;
  padding: 12px 0 0 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 53%, 49% 100%, 0 53%);
          clip-path: polygon(0 0, 100% 0, 100% 53%, 49% 100%, 0 53%);
}

.content .card .top .title {
  font-size: 27px;
  font-weight: 600;
}

.content .card .top .valores-sec {
  margin-top: -10px;
  font-weight: 600;
}

.content .card .top .valores {
  width: 50px;
  height: 50px;
}

.content .card .info {
  font-size: 16px;
  margin-top: 20px;
}

.content .card .details .one {
  margin-top: 25px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.content .card .details .one::before {
  position: absolute;
  content: "";
  width: 100%;
  background: #ddd;
  height: 1px;
  left: 0;
  top: -12px;
  border-radius: 25px;
}

.content .card .details .one i {
  color: #14eb6e;
}

.content .card .details i.fa-times {
  color: #cd3241;
}

.content .card button {
  outline: none;
  border: none;
  height: 42px;
  color: #fff;
  margin-top: 30px;
  border-radius: 3px;
  font-size: 18px;
  width: 100%;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  letter-spacing: 1px;
}

.content .one .top,
.content .one button {
  background: #c9cc06;
}

.content .two .top,
.content .two button {
  background: #e87130;
}

.content .three .top,
.content .three button {
  background: #11BCC3;
}

.content button:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.content .one ::-moz-selection {
  background: #8af5b6;
}

.content .one ::selection {
  background: #8af5b6;
}

.content .two ::-moz-selection {
  background: #f2b08c;
}

.content .two ::selection {
  background: #f2b08c;
}

.content .three ::-moz-selection {
  background: #d0f9fb;
}

.content .three ::selection {
  background: #d0f9fb;
}

@media (max-width: 1000px) {
  .content .card {
    background: #fff;
    width: calc(50% - 20px);
    margin-bottom: 30px;
  }
}

@media (max-width: 715px) {
  .content .card {
    width: 100%;
  }
}

/* CARDS VIEJAS */
.main_div {
  width: 700px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.main_div .title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.main_div .social_icons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social_icons a {
  display: block;
  height: 45px;
  width: 100%;
  line-height: 45px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.social_icons a span {
  margin-left: 5px;
  font-size: 18px;
}

.social_icons a:first-child {
  margin-right: 5px;
  background: #4267B2;
}

.social_icons a:first-child:hover {
  background: #375695;
}

.social_icons a:last-child {
  margin-left: 5px;
  background: #f21d1d;
}

.social_icons a:last-child:hover {
  background: #d11f1f;
}

form {
  margin-top: 25px;
}

form .input_box {
  height: 50px;
  width: 100%;
  position: relative;
  margin-top: 15px;
}

.input_box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 45px;
  font-size: 17px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input_box input:focus {
  border-color: #198754;
}

.input_box .icon {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: grey;
}

form .option_div {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.option_div .check_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.option_div span {
  margin-left: 5px;
  font-size: 16px;
  color: #333;
}

.option_div .forget_div a {
  font-size: 16px;
  color: #198754;
}

.button input {
  padding-left: 0;
  background: #198754;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.button input:hover {
  background: #16b96d;
}

form .sign_up {
  text-align: center;
  margin-top: 25px;
}

.sign_up a {
  color: #198754;
  font-size: 16px !important;
}

form a {
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}

.cuerpoRegister {
  display: -ms-grid;
  display: grid;
  height: 1400px;
  place-items: center;
  background: #198754;
}

/* DISEÑO CARDS */
.containerCard {
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}

.containerCard .box {
  width: calc(33% - 10px);
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px;
  border-radius: 5px;
}

.box .quote i {
  margin-top: 10px;
  font-size: 45px;
  color: #17c0eb;
}

.containerCard .box .image {
  margin: 10px 0;
  height: 150px;
  width: 150px;
  background: #198754;
  padding: 3px;
  border-radius: 50%;
}

.box .image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #fff;
}

.box p {
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}

.box .name_job {
  margin: 10px 0 3px 0;
  color: #198754;
  font-size: 22px;
  font-weight: 600;
  text-decoration: underline;
}

.shadowBox {
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.51);
}

/* RESPONSIVE */
@media (max-width: 700px) {
  .main_div {
    width: 365px;
  }
  .cuerpoRegister {
    padding-top: 10px;
    height: 2200px;
  }
  .titleResponsive {
    padding-top: 20px;
    text-align: center;
  }
}

@media (max-width: 1045px) {
  .containerCard .box {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}

@media (max-width: 710px) {
  .containerCard .box {
    width: 100%;
  }
}
/*# sourceMappingURL=estilos.css.map */