@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #dfd2d2;
}

.menuFooter {
  background-color: black;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.seccionSucursales {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[1fr];
      grid-template-columns: repeat(1fr 2fr);
  -ms-grid-rows: (4fr)[3];
      grid-template-rows: repeat(3, 4fr);
      grid-template-areas: "palermo mapapalermo" "ramos maparamos" "necochea mapanecochea";
  grid-column-gap: 10px;
  grid-row-gap: 60px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.seccionSucursales mapaPalermo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: mapapalermo;
  height: 400px;
  width: 400px;
}

.seccionSucursales palermo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: palermo;
}

.seccionSucursales mapaRamos {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: maparamos;
  height: 400px;
  width: 400px;
}

.seccionSucursales ramos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: ramos;
}

.seccionSucursales mapaNecochea {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: mapanecochea;
  height: 400px;
  width: 400px;
}

.seccionSucursales necochea {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: necochea;
}

.seccionNosotros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2fr];
      grid-template-columns: repeat(2fr 1fr);
  -ms-grid-rows: (4fr)[3];
      grid-template-rows: repeat(3, 4fr);
      grid-template-areas: "thomas texto1" "alejandro texto2" "lucia texto3";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccionNosotros thomas {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: thomas;
  height: 400px;
  width: 400px;
}

.seccionNosotros texto1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: texto1;
}

.seccionNosotros alejandro {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: alejandro;
  height: 400px;
  width: 400px;
}

.seccionNosotros texto2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: texto2;
}

.seccionNosotros lucia {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: lucia;
  height: 400px;
  width: 400px;
}

.seccionNosotros texto3 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: texto3;
}

/*ANIMACIONES*/
.flip-in-hor-top {
  -webkit-animation: flip-in-hor-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-hor-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

/*ANIMACIONES*/
/* ANIMACION CONTENIDO
.social-media ul{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 380px;
}

.social-media ul li{
    list-style-type: none;
    margin: 0 15px;
}

.social-media ul li .fab{
    font-size: 30px;
    line-height: 60px;
    transition: 0.6s;
    color: #fff;
}

.social-media ul li a{
    display: block;
    border-radius: 5px;
    width: 150px;
    height: 60px;
    position: relative;
    background-color: #000;
    text-align: center;
    box-shadow: 0 05px 4px rgba(153, 181, 145, 0.3);
}

.social-media ul li .fab:hover{
    color: #fff;
}
.social-media ul li a:hover{
    transform: translate(0, -15%);
    transition: 0.5s;
}

.social-media ul li:nth-child(1) a:hover{
    background-color: yellow;
}
.social-media ul li:nth-child(2) a:hover{
    background-color: yellow;
}
.social-media ul li:nth-child(3) a:hover{
    background-color: yellow;
}
.social-media ul li:nth-child(4) a:hover{
    background-color: yellow;
}

 ANIMACION CONTENIDO */
.ayuda1 {
  background-color: blue;
  text-align: center;
  color: white;
  padding: 1rem;
  font-size: 35px;
}

.ayuda2 {
  background-color: red;
  text-align: center;
  color: black;
  padding: 1rem;
  font-size: 35px;
}

.masInfo, .masInfo--nueva {
  border: 1px black solid;
  background-color: yellowgreen;
}

.masInfo--nueva {
  font-size: 30px;
  width: 500px;
  text-align: center;
  padding: 1rem;
  margin-top: 20px;
}

.red, .red--fb, .red--tw {
  border: 1px black solid;
  background-color: red;
  font-size: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.red--fb {
  background-color: blue;
}

.red--tw {
  background-color: violet;
  margin-bottom: 20px;
}

.formulario {
  height: 200px;
  width: 500px;
  margin-bottom: 40px;
}

/* TITULOS (terminar de arreglar y ubicar)*/
h1 {
  color: white;
  background-color: black;
  text-align: center;
  padding-top: 20px;
  font-style: oblique;
}

h2 {
  text-align: center;
  font-size: 20px;
  padding: 20px;
  font-style: italic;
  background-color: violet;
  width: 200px;
  margin: 10px;
}

h3 {
  color: violet;
  text-align: center;
  padding: 20px;
  font-size: 35px;
}

h4 {
  font-size: 22px;
  padding-bottom: 5px;
}

/* TITULOS */
/* MEDIA QUARIES */
@media only screen and (max-width: 480px) {
  .menuNavegador {
    background-color: yellow;
  }
  a {
    color: black;
  }
  .menuFooter {
    background-color: yellow;
  }
  h1 {
    background-color: yellow;
    color: black;
  }
  .seccionImg {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: ()[2fr];
        grid-template-columns: repeat(2fr);
    -ms-grid-rows: (4fr)[6];
        grid-template-rows: repeat(6, 4fr);
        grid-template-areas: "foto1" "foto2" "foto3" "foto4" "foto5" "foto6";
    grid-row-gap: 60px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0px 10px 0px;
  }
  .seccionImg2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: ()[2fr];
        grid-template-columns: repeat(2fr);
    -ms-grid-rows: (4fr)[6];
        grid-template-rows: repeat(6, 4fr);
        grid-template-areas: "foto7" "foto8" "foto9" "foto10" "foto11" "foto12";
    grid-row-gap: 60px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  h2 {
    background-color: blanchedalmond;
  }
  .seccionSucursales {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: ()[1fr];
        grid-template-columns: repeat(1fr);
    -ms-grid-rows: (2fr)[6];
        grid-template-rows: repeat(6, 2fr);
        grid-template-areas: "palermo" "mapapalermo" "ramos" "maparamos" "necochea" "mapanecochea";
    grid-column-gap: 10px;
    grid-row-gap: 60px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .seccionNosotros {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: ()[1fr];
        grid-template-columns: repeat(1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: "thomas" "texto1" "alejandro" "texto2" "lucia" "texto3";
    grid-row-gap: 10px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* MEDIA QUARIES */
/*# sourceMappingURL=estilos.css.map */