@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
}

body {
  background-color: #f3f0f0;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.container1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr 1fr)[1fr];
      grid-template-columns: repeat(1fr 1fr 1fr);
  -ms-grid-rows: ()[1fr];
      grid-template-rows: repeat(1fr);
      grid-template-areas: "caja1 caja2 caja3";
  grid-column-gap: 10px;
  grid-row-gap: 60px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.container1 caja1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: caja1;
}

.container1 caja2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: caja2;
}

.container1 caja3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: caja3;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.seccionSucursales {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[1fr];
      grid-template-columns: repeat(1fr 2fr);
  -ms-grid-rows: (4fr)[3];
      grid-template-rows: repeat(3, 4fr);
      grid-template-areas: "palermo mapapalermo" "ramos maparamos" "necochea mapanecochea";
  grid-column-gap: 10px;
  grid-row-gap: 60px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.seccionSucursales mapaPalermo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: mapapalermo;
  height: 400px;
  width: 400px;
}

.seccionSucursales palermo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: palermo;
}

.seccionSucursales mapaRamos {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: maparamos;
  height: 400px;
  width: 400px;
}

.seccionSucursales ramos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: ramos;
}

.seccionSucursales mapaNecochea {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: mapanecochea;
  height: 400px;
  width: 400px;
}

.seccionSucursales necochea {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: necochea;
}

.texto {
  color: green;
}

.shadowNav {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.22);
}

.textShadow {
  text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.23);
}

.shadowBanner {
  box-shadow: 1px -1px 18px 11px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 1px -1px 18px 11px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 1px -1px 18px 11px rgba(0, 0, 0, 0.18);
}

.separacion {
  margin-top: 100px;
}

.marginMapa {
  margin-top: 60px;
}

:root {
  --color-esqueleto:#EFF3F5;
}

header {
  width: 100%;
  height: 60px;
  background: var(--color-esqueleto);
}

.cover {
  width: 100%;
  height: 500px;
  background: var(--color-esqueleto);
  margin-top: 20px;
}

.container__article {
  max-width: 1000px;
  padding: 0px 20px;
  margin: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__article .box__article {
  width: 200px;
  height: 250px;
  background: var(--color-esqueleto);
  margin: 20px;
}

/*FOOTER*/
footer {
  width: 100%;
  padding: 50px 0px;
}

.container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.box__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.box__footer .logo img {
  width: 180px;
}

.box__footer .terms {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 18px;
}

.box__footer h2 {
  margin-bottom: 30px;
  color: #343434;
  font-weight: 700;
}

.box__footer a {
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
}

.box__footer a:hover {
  opacity: 0.8;
}

.box__footer a .fab {
  font-size: 20px;
}

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.box__copyright p {
  margin-top: 20px;
  color: #7a7a7a;
}

.box__copyright hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}

.seccionNosotros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2fr];
      grid-template-columns: repeat(2fr 1fr);
  -ms-grid-rows: (4fr)[3];
      grid-template-rows: repeat(3, 4fr);
      grid-template-areas: "thomas texto1" "alejandro texto2" "lucia texto3";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccionNosotros thomas {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: thomas;
  height: 400px;
  width: 400px;
}

.seccionNosotros texto1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: texto1;
}

.seccionNosotros alejandro {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: alejandro;
  height: 400px;
  width: 400px;
}

.seccionNosotros texto2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: texto2;
}

.seccionNosotros lucia {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: lucia;
  height: 400px;
  width: 400px;
}

.seccionNosotros texto3 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: texto3;
}

/*ANIMACIONES*/
.flip-in-hor-top {
  -webkit-animation: flip-in-hor-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-hor-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

/*ANIMACIONES*/
/* ANIMACION CONTENIDO
.social-media ul{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 380px;
}

.social-media ul li{
    list-style-type: none;
    margin: 0 15px;
}

.social-media ul li .fab{
    font-size: 30px;
    line-height: 60px;
    transition: 0.6s;
    color: #fff;
}

.social-media ul li a{
    display: block;
    border-radius: 5px;
    width: 150px;
    height: 60px;
    position: relative;
    background-color: #000;
    text-align: center;
    box-shadow: 0 05px 4px rgba(153, 181, 145, 0.3);
}

.social-media ul li .fab:hover{
    color: #fff;
}
.social-media ul li a:hover{
    transform: translate(0, -15%);
    transition: 0.5s;
}

.social-media ul li:nth-child(1) a:hover{
    background-color: yellow;
}
.social-media ul li:nth-child(2) a:hover{
    background-color: yellow;
}
.social-media ul li:nth-child(3) a:hover{
    background-color: yellow;
}
.social-media ul li:nth-child(4) a:hover{
    background-color: yellow;
}

 ANIMACION CONTENIDO */
.ayuda1 {
  background-color: blue;
  text-align: center;
  color: white;
  padding: 1rem;
  font-size: 35px;
}

.ayuda2 {
  background-color: red;
  text-align: center;
  color: black;
  padding: 1rem;
  font-size: 35px;
}

.masInfo, .masInfo--nueva {
  border: 1px black solid;
  background-color: yellowgreen;
}

.masInfo--nueva {
  font-size: 30px;
  width: 500px;
  text-align: center;
  padding: 1rem;
  margin-top: 20px;
}

.red, .red--fb, .red--tw {
  border: 1px black solid;
  background-color: red;
  font-size: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.red--fb {
  background-color: blue;
}

.red--tw {
  background-color: violet;
  margin-bottom: 20px;
}

.formulario {
  height: 200px;
  width: 500px;
  margin-bottom: 40px;
}

/* TITULOS (terminar de arreglar y ubicar)*/
h1 {
  color: #198754;
  padding-top: 30px;
  text-align: center;
  font-style: italic;
}

h3 {
  color: violet;
  text-align: center;
  padding: 20px;
  font-size: 35px;
}

h4 {
  font-size: 22px;
  padding-bottom: 5px;
}

/* TITULOS */